/* .first-heading {
  color: brown;
} */
/* #first-heading {
  color: brown;
} */
.first-title {
  color: rgb(225, 17, 17);
}
.first-title span {
  color: #351f85;
  font-size: 80px;
}

.hero-image {
  height: 200px;
  width: 300px;
}
.bold-text {
  font-size: 50px;
}
.unorder {
  list-style: none;
}
.first-ul {
  display: flex;
  list-style: none;
  margin-top: revert;
}
.first-ul li {
  margin-right: 20px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  background: #a59a9a;
  padding: 0px 20px;
}
.btn {
  margin-top: 11px;
}
.ram {
  background-color: #000000 !important;
  color: #ffffff !important;
}

td {
  padding: 5px 10px;
  border: 2px solid #000;
  text-align: center;
}
thead {
  background: #a59a9a;
}
table {
  width: 50%;
}
.company-name {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}
.dog img {
  width: 100%;
}
.partition {
  display: flex;
}
/* mobile  */

/* tab  */
@media only screen and (max-width: 992px) {
  .dog-button {
    background: blue !important;
  }
}
/* medium device like mac book  */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}
@media only screen and (max-width: 768px) {
  .dog-button {
    background: red !important;
  }
  .company-name {
    display: none;
  }
}
